@font-face {
    font-family: "Merriweather";
    src: url(./assets/fonts/Merriweather/Merriweather-Regular.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Merriweather";
    src: url(./assets/fonts/Merriweather/Merriweather-Italic.ttf);
    font-weight: 500;
    font-style: italic;
}
  
@font-face {
    font-family: "Merriweather";
    src: url(./assets/fonts/Merriweather/Merriweather-Black.ttf);
    font-weight: bolder;
}

@font-face {
    font-family: "Merriweather";
    src: url(./assets/fonts/Merriweather/Merriweather-BlackItalic.ttf);
    font-weight: bolder;
    font-style: italic;
}

.App {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.unsupported {
    font-family: "Merriweather";
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
}